body {
  font-family: "Roboto", sans-serif;
  background-color: #c8e7ed;
}

h1 {
  color: black;
  display: block;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #757a79;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 100;
  line-height: 24px;
}

li:first-letter {
  text-transform: capitalize;
}

.app-wrapper {
  max-width: 600px;
  margin: 40px auto;
}
.app-border {
  padding: 20px;
  border: 1px solid #678eb4;
  border-radius: 6px;
}

.main-overview {
  margin-bottom: 20px;
}

.weather-temp img {
  margin-right: 5px;
  height: 60px;
  float: left;
  vertical-align: top;
  width: 60px;
}

.weather-temp strong {
  font-size: 60px;
  font-weight: normal;
  line-height: 1;
}

.weather-temp .temp-units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.weather-temp .active {
  color: black;
  cursor: default;
}

.weather-temp .active:hover {
  cursor: default;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.forecast-date {
  font-size: 13px;
}
.forecast-temp-min {
  opacity: 0.4;
}
